@tailwind base;
@tailwind components;
@tailwind utilities;

/* NOTE: editing this file doesn't cause the extension hot-reload to reload, so you 
* have to save a TS file in order for it to pick up changes in this file */

/* the 'Rewards available animation */
.slide-up-animation {
  animation: slideUp 0.35s;
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    animation-timing-function: ease-in-out;
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
}

.fade-out-animation {
  animation: fadeOut 0.2s;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  100% {
    animation-timing-function: ease-in-out;
    opacity: 0;
  }
}

.fade-in-animation {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    animation-timing-function: ease-in-out;
    opacity: 0;
  }
  100% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
}

@font-face {
  font-family: "BasicSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(data-base64:~assets/fonts/basic-sans-regular.ttf) format("truetype");
}

@font-face {
  font-family: "BasicSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(data-base64:~assets/fonts/basic-sans-semibold.ttf) format("truetype");
}

@font-face {
  font-family: "BasicSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(data-base64:~assets/fonts/basic-sans-bold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(data-base64:~assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(data-base64:~assets/fonts/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(data-base64:~assets/fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "SourceSans3";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(data-base64:~assets/fonts/SourceSans3.ttf) format("truetype");
}

@font-face {
  font-family: "SourceCode";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(data-base64:~assets/fonts/SourceCode.ttf) format("truetype");
}
